# Salary Analysis for Data Scientists in Data Science

Analyzing salaries is a crucial aspect of understanding the compensation landscape for data scientists in the field of data science. By examining salary data, we can gain insights into the factors that influence earning potential, such as experience, education, location, and industry. Salary analysis helps organizations attract and retain top talent by offering competitive compensation packages. It also enables data scientists to benchmark their own salaries and negotiate better terms. By leveraging statistical techniques and data visualization, we can uncover trends, patterns, and outliers in salary data, providing valuable information for decision-making and strategic planning. Salary analysis plays a vital role in ensuring fair compensation practices and promoting transparency within the data science community.

In [1]:
# Importing Libraires
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DataScienceSalaries.csv')
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [3]:
# No of Rows and Columns in Data
df.shape

(3755, 11)

In [4]:
# index of Data
df.index

RangeIndex(start=0, stop=3755, step=1)

In [7]:
# Columns and Data Type of Columns in The Data
df.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [25]:
df['job_title'].unique()    # Unique Job Titles in the Data

array(['Principal Data Scientist', 'ML Engineer', 'Data Scientist',
       'Applied Scientist', 'Data Analyst', 'Data Modeler',
       'Research Engineer', 'Analytics Engineer',
       'Business Intelligence Engineer', 'Machine Learning Engineer',
       'Data Strategist', 'Data Engineer', 'Computer Vision Engineer',
       'Data Quality Analyst', 'Compliance Data Analyst',
       'Data Architect', 'Applied Machine Learning Engineer',
       'AI Developer', 'Research Scientist', 'Data Analytics Manager',
       'Business Data Analyst', 'Applied Data Scientist',
       'Staff Data Analyst', 'ETL Engineer', 'Data DevOps Engineer',
       'Head of Data', 'Data Science Manager', 'Data Manager',
       'Machine Learning Researcher', 'Big Data Engineer',
       'Data Specialist', 'Lead Data Analyst', 'BI Data Engineer',
       'Director of Data Science', 'Machine Learning Scientist',
       'MLOps Engineer', 'AI Scientist', 'Autonomous Vehicle Technician',
       'Applied Machine Learning Scientist', 'Lead Data Scientist',
       'Cloud Database Engineer', 'Financial Data Analyst',
       'Data Infrastructure Engineer', 'Software Data Engineer',
       'AI Programmer', 'Data Operations Engineer', 'BI Developer',
       'Data Science Lead', 'Deep Learning Researcher', 'BI Analyst',
       'Data Science Consultant', 'Data Analytics Specialist',
       'Machine Learning Infrastructure Engineer', 'BI Data Analyst',
       'Head of Data Science', 'Insight Analyst',
       'Deep Learning Engineer', 'Machine Learning Software Engineer',
       'Big Data Architect', 'Product Data Analyst',
       'Computer Vision Software Engineer', 'Azure Data Engineer',
       'Marketing Data Engineer', 'Data Analytics Lead', 'Data Lead',
       'Data Science Engineer', 'Machine Learning Research Engineer',
       'NLP Engineer', 'Manager Data Management',
       'Machine Learning Developer', '3D Computer Vision Researcher',
       'Principal Machine Learning Engineer', 'Data Analytics Engineer',
       'Data Analytics Consultant', 'Data Management Specialist',
       'Data Science Tech Lead', 'Data Scientist Lead',
       'Cloud Data Engineer', 'Data Operations Analyst',
       'Marketing Data Analyst', 'Power BI Developer',
       'Product Data Scientist', 'Principal Data Architect',
       'Machine Learning Manager', 'Lead Machine Learning Engineer',
       'ETL Developer', 'Cloud Data Architect', 'Lead Data Engineer',
       'Head of Machine Learning', 'Principal Data Analyst',
       'Principal Data Engineer', 'Staff Data Scientist',
       'Finance Data Analyst'], dtype=object)

In [27]:
len(df['job_title'].unique())   # No of Unique Job Titles in the Data

93

In [29]:
# Grouping the Data by Job Title and Calculating the Mean Salary of Each Job Title
df.groupby('job_title')['salary'].mean()

job_title
3D Computer Vision Researcher    120000.000000
AI Developer                     137181.818182
AI Programmer                     55000.000000
AI Scientist                     275312.500000
Analytics Engineer               151352.621359
                                     ...
Research Engineer                162752.810811
Research Scientist               160768.890244
Software Data Engineer            75000.000000
Staff Data Analyst                15000.000000
Staff Data Scientist             105000.000000
Name: salary, Length: 93, dtype: float64